* {
  box-sizing: border-box;
  outline: none;
}
body {
  margin: 0;
  padding: 0;
  display: flex;
  font-size: 14px;
  font-family: Arial;
  height: 100vh;
}
body.join-page {
  background-color: rgba(29, 72, 178, 0.5);
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.users {
  display: flex;
  flex-direction: column;
  flex-basis: 30%;
  background-color: rgba(29, 72, 178, 0.5);
  color: white;
  padding: 0px 15px;
}
.users h2 {
  margin: 15px;
}
.chat {
  display: flex;
  flex-direction: column;
  flex-basis: 70%;
}
.chat h2 {
  margin: 15px;
}
#message-form {
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: rgba(204, 204, 204, 0.5);
  margin-top: auto;
  flex-shrink: 0;
  padding: 15px;
}
#message-form  input {
  display: flex;
  flex-grow: 1;
  border: none;
  height: 40px;
  padding: 0px 15px;
  border-radius: 3px;
  border-width: 0px;
}
#message-form  button {
  margin-left: 15px;
  background-color: rgba(29, 72, 178, 0.5);
  border: none;
  cursor: pointer;
  flex-shrink: 0;
  width: 100px;
  border-radius: 3px;
  color: #fff;
  transition: opacity 0.3s ease;
}
#message-form  button:hover {
  opacity: 0.7;
}
.messages-list {
  padding: 15px;
}
.messages-list li {
  margin-bottom: 10px;
}
.join-form {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.5);
  max-width: 280px;
  width: 100%;
  padding: 15px;
  margin: auto;
  border-radius: 5px;
}
.join-form h3 {
  margin: 10px;
  text-align: center;
}
.join-form label {
  margin: 10px 0px;
}
.join-form input {
  height: 40px;
  padding: 0px 15px;
  border-radius: 2px;
  border-width: 0px;
}
.join-form button {
  height: 40px;
  margin-top: 15px;
  background: rgba(29, 72, 178, 0.5);
  color: #fff;
  font-size: 16px;
  border-radius: 2px;
  border-width: 0px;
  cursor: pointer;
  transition: opacity 0.3s ease;
}
.join-form button:hover {
  opacity: 0.7;
}